# Machine Learning Engineer Nanodegree

## Capstone Project

Arshad Khurshid
Date: Nov 4, 2017

## Project: Using Supervised Learning to identify attrition in company

A company invest lot on employee to train them and make them ready for next generation business. Once you invest in skill enhancement of an employee you need to used it for benefit of business. Employee may be agitated even if they are being paid well as human have aspiration and if aspiration is fulfilled then they perform to their maximum capability. I was looking for dataset which has features that can be reason for employee to quit and Kaggle gave me one. Retaining an employee means retaining knowledge and they are the one who grooms the people working in one level down thus helping to increase and knowledge base for all.

## Exploring Data

In this section we will import data into dataframes and explore all the attributes of the data.

In [6]:
#Importing Libraries and display the records
import numpy as np
import pandas as pd
from time import time
from IPython.display import display

# Pretty display for notebooks
%matplotlib inline

# Load the Census dataset
data = pd.read_csv("HR_comma_sep.csv")

# Success - Display the first record
display(data.head(n=5))

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

### Implementation: Data Exploration

We will investigate total number of records in dataset. Number ofemployee left comapny. Number of employee stayed in company.
Percentage of employee left the company. Is there any null column.

In [34]:
# Number of records in dataset
nbr_records = len(data)

# Number of records who left the company
nbr_of_emply_lft = len(data[data.left == 1])

# Number of records who are still working
nbr_of_emply_wrkng = len(data[data.left == 0])

# Percentage who left the company
prcnt_emply_lft = float(nbr_of_emply_lft* 100)/nbr_records

# Check null values in dataset

# Print the results
print ("Total number of records: {}" .format(nbr_records))

print ("Total number of employee who have moved on: {}" .format(nbr_of_emply_lft))
print ("Total number of employee who have stayed: {}" .format(nbr_of_emply_wrkng))
print ("Percent of employee who have moved on: {:.2f}%" .format(prcnt_emply_lft))

Total number of records: 14999
Total number of employee who have moved on: 3571
Total number of employee who have stayed: 11428
Percent of employee who have moved on: 23.81%